* {
    padding: 0;
    margin: 0;
    font-family: 'Alkatra', cursive;
font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    background-color: #eb0000;
    z-index: 1;
    border-bottom: 1px solid rgb(236, 27, 27);
}

nav a {
    color: rgb(229, 44, 242);
    text-decoration: none;
    margin-right: 5px;
    padding: 5px;
    font-size: 13px;
}

nav a:hover {
    color: red;
}

.main-page {
    color: white;
    background-image: url(pizza.jpg);
    width: 100%;
    height: 100vh;
    opacity: 15;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo p {
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px black;
}

.page-heading h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 2px black;
}

.btn {
    cursor: pointer;
    border: 0;
    border-radius: 1px;
    background-color: #F5F5EF;
    color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: red;
    color: yellow;
}

.book-now {
    background-color: #F5F5EF;
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns: 25% 25% 50%;
    align-items: center;
    justify-content: center;
}

.img-1 {
    position: relative;
    left: 20%;
    top: -15%;
}

.img-2 {
    position: relative;
    top: 10%;
}

.info-heading {
    line-height: 1.5rem;
    font-size: 2rem;
    padding: 10px;
}

.info-des {
    font-size: 1.5rem;
}

.info {
    padding: 15px;
    font-size: 1.5rem;
}

.info-btn {
    cursor: pointer;
    border: 0;
    border-radius: 1px;
    background-color: crimson;
    color: rgb(255, 255, 255);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5rem;
}

.info-btn:hover {
    background-color: red;
    color: white;
}

.menu-card {
    background-color: #F5F5EF;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
}

.menu-images {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

figcaption {
    text-align: center;
    font-size: 1rem;
}

.menu-info {
    padding-left: 18px;
}

.info-heading {
    padding-bottom: 20px;
}

.feedback-heading {
    padding-bottom: 90px;
}

.feedback-heading h1 {
    font-size: 2.5rem;
}

.feedback {
    background-color: black;
    width: 100%;
    height: 100vh;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.user {
    font-size: 1.5rem;
}

.user-feed {
    font-size: 1.2rem;
}

.user-feedback {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.user-feedback p {
    padding: 8px;
}

.visit {
    background-color: #F5F5EF;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
}

.visit-heading {
    font-size: 2rem;
}

.back-img img {
    width: auto;
    height: 100vh;
}

.visit-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}





@media screen and (max-width:400px){
    .main-page {
        background-size: cover;
        background-position: center;
    }

    .page-heading h1 {
        font-size: 2rem;
    }

    .book-now {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .img-1,
    .img-2 {
        left: 0;
        top: 0;
        padding-top: 20px;
    }

    .info-heading {
        padding-top: 40px;
        font-size: 1.8rem;
        padding-bottom: 0px;
    }

    .info {
        font-size: 1.2rem;
    }

    .menu-card {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }

    .info-des {
        font-size: 1.2rem;
        padding-top: 20px;
    }

    .menu-img-1,
    .menu-img-2,
    .menu-img-3 {
        padding-top: 20px;
    }

    .feedback {
        height: auto;
        margin-top: 20px;
    }

    .feedback-heading {
        padding-bottom: 0px;
        padding-top: 30px;
    }

    .feedback-heading h1 {
        font-size: 2rem;
    }

    .user-feedback {
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .user {
        font-size: 1.4rem;
    }

    .visit {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .back-img img {
        width: 375px;
        height: auto;
    }

    .visit-info {
        padding: 30px;
    }
}